{
  "tabWidth": 2,
  "printWidth": 1000,
  "trailingComma": "all",
  "semi": false,
  "singleQuote": false,
  "bracketSpacing": false,
  "arrowParens": "always",
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-tailwindcss"]
}